node_modules/
dist/
.vercel/
*.log
.env
.env.local
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.pem
*.key
terraform.tfvars
.DS_Store
frontend/.angular/
azure-functions/function-app.zip
HANDOVER_EMAIL.md
publish-profile.xml



# Azure Service Principal Credentials (sensitive)
azure-credentials.json
.vercel
